<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <span>Made by <a href="http://qscepter.com">qscepter</a></span>
        </div>
    </div>
</div>