<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Future-Solar</h1>
            <hr>
        </div>
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Admin registration</h1>
            <div id="response">
            </div>
            <form id="register">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" />
                </div>
                <div class="form-group">
                    <label for="repassword">Retype Password:</label>
                    <input type="password" class="form-control" name="repassword" id="repassword" />
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>