{{!-- --}}
{{> dashboardHeader}}

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form id="changePasswordForm">
                <h3 class="text-center">Change password</h3>
                <hr>
                <div id="response"></div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="repassword">Retype password:</label>
                    <input type="password" class="form-control" id="repassword" name="repassword">
                </div>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
    </div>
</div>

{{> dashboardFooter}}