<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Future-Solar Dashboard Login</h2>
            <hr>
            <div id="response">
            </div>
            <div class="card card-body">
                <form>
                    <div class="form-group">
                        <label for="managerUsername">Username:</label>
                        <input type="text" class="form-control" name="username" id="managerUsername" />
                    </div>
                    <div class="form-group">
                        <label for="managerPassword">Password:</label>
                        <input type="password" class="form-control" name="password" id="managerPassword" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>