<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{#if renderDashboardCommons}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    {{/if}}
</head>

<body>
    {{{body}}}

    {{#if renderDashboardCommons}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {{/if}}

    {{#if renderCreateSummitJS}}
    <script type="module" src="/js/summit/create.js"></script>
    {{/if}}
    {{#if renderRemoveSummitJS}}
    <script type="module" src="/js/summit/remove.js"></script>
    {{/if}}

    {{#if renderCreateAttendeeJS}}
    <script type="module" src="/js/attendee/create.js"></script>
    {{/if}}
    {{#if renderRemoveAttendeeJS}}
    <script type="module" src="/js/attendee/remove.js"></script>
    {{/if}}

    {{#if renderCreateSpeakerJS}}
    <script type="module" src="/js/speaker/create.js"></script>
    {{/if}}
    {{#if renderRemoveSpeakerJS}}
    <script type="module" src="/js/speaker/remove.js"></script>
    {{/if}}

    {{#if renderCreateExhibitorJS}}
    <script type="module" src="/js/exhibitor/create.js"></script>
    {{/if}}
    {{#if renderRemoveExhibitorJS}}
    <script type="module" src="/js/exhibitor/remove.js"></script>
    {{/if}}

    {{#if renderCreatePartnerJS}}
    <script type="module" src="/js/partner/create.js"></script>
    {{/if}}
    {{#if renderRemovePartnerJS}}
    <script type="module" src="/js/partner/remove.js"></script>
    {{/if}}

    {{#if renderCreateSupportOrganizationJS}}
    <script type="module" src="/js/supportOrganization/create.js"></script>
    {{/if}}
    {{#if renderRemoveSupportOrganizationJS}}
    <script type="module" src="/js/supportOrganization/remove.js"></script>
    {{/if}}

    {{#if renderCreateSponsorJS}}
    <script type="module" src="/js/sponsor/create.js"></script>
    {{/if}}
    {{#if renderRemoveSponsorJS}}
    <script type="module" src="/js/sponsor/remove.js"></script>
    {{/if}}

    {{#if renderUploadAgendaJS}}
    <script type="module" src="/js/eventAgenda/upload.js"></script>
    {{/if}}
    {{#if renderRemoveAgendaJS}}
    <script type="module" src="/js/eventAgenda/remove.js"></script>
    {{/if}}

    {{#if renderPasswordJS}}
    <script type="module" src="/js/password.js"></script>
    {{/if}}

    {{#if renderRegisterJS}}
    <script type="module" src="/js/register.js"></script>
    {{/if}}

    {{#if renderLoginJS}}
    <script type="module" src="/js/login.js"></script>
    {{/if}}
</body>

</html>