.dateBtnParent {
  display: inline-block;
  position: relative;
}

.dateBtn:hover + .removeDateBtn {
  display: inline-block;
}

.removeDateBtn {
  display: none;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.removeDateBtn:hover {
  display: inline-block;
}
